body {
  background-color: #4aa3a3;
  font-family: 'Arial', sans-serif;
  color:black;
}

a {
  color: #ffffff;
  text-decoration: none;
  border: #ffffff 1px solid;
  padding: 5px;
  border-radius: 10px;
  margin: 2px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 10px;
}